/*Variables rgb(5,171,206)*/
/*Site CSS here*/
body { background-color: black; }

.navbar { background-color: transparent; }

.collapse { z-index: 20; }

#nav-logo { height: inherit; width: auto; text-align: center; margin-top: -10px; }

#nav-logo-end { height: 20px; width: auto; }

.navbar.navbar-inverse.navbar-static-top { background-color: #0e1737; border: none; padding-top: 50px; font-size: 18px; margin-bottom: -10px; color: red; }
.navbar.navbar-inverse.navbar-static-top li a { color: whitesmoke; border-bottom: 2px solid transparent; }
.navbar.navbar-inverse.navbar-static-top li a:hover { border-bottom: 2px solid aqua; }

.navbar.navbar-inverse.navbar-fixed-top { background-color: transparent; border: none; padding-top: 50px; font-size: 18px; color: red; transition: background-color 1s ease 0s; }
.navbar.navbar-inverse.navbar-fixed-top li a { color: whitesmoke; border-bottom: 2px solid transparent; }
.navbar.navbar-inverse.navbar-fixed-top li a:hover { border-bottom: 2px solid aqua; }

.navbar.navbar-inverse.navbar-fixed-top.opaque { background-color: rgba(14, 23, 55, 0.8); border: none; padding-top: 50px; font-size: 18px; transition: background-color 1s ease 0s; }
.navbar.navbar-inverse.navbar-fixed-top.opaque li a { color: whitesmoke; border-bottom: 2px solid transparent; }
.navbar.navbar-inverse.navbar-fixed-top.opaque li a:hover { border-bottom: 2px solid aqua; }

#title { margin-top: 200px; color: black; font-family: 'Raleway', sans-serif; font-weight: 200; font-size: 65px; text-align: left; line-height: 0.9em; }
@media (max-width: 1200px) { #title { font-size: 50px; } }
@media (max-width: 990px) { #title { font-size: 40px; } }
@media (max-width: 768px) { #title { font-size: 35px; } }
@media (max-width: 475px) { #title { font-size: 30px; } }
@media (max-width: 320px) { #title { font-size: 16px; } }

#title span { background-color: rgba(255, 255, 255, 0.6); }

.heading { margin-top: 50px; color: blcyanck; font-family: 'Raleway', sans-serif; font-weight: 700; font-size: 65px; text-align: left; }

.rale-font { font-family: 'Raleway', sans-serif; font-weight: 400; font-size: 16px; }

#subtitle { font-family: 'Raleway', sans-serif; font-weight: 400; font-size: 78px; color: whitesmoke; line-height: 0.9em; }
@media (max-width: 1200px) { #subtitle { font-size: 65px; } }
@media (max-width: 768px) { #subtitle { font-size: 50px; } }
@media (max-width: 475px) { #subtitle { font-size: 40px; } }
@media (max-width: 320px) { #subtitle { font-size: 30px; } }

#subtitle span { font-weight: 700; color: white; }

#mask { min-height: 600px; height: 110vh; width: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.5); }

#background { padding-top: 50px; min-height: 600px; height: 110vh; width: 100%; position: absolute; background: url("../img/deerfield.jpg") no-repeat fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

#twitter { margin-top: 100px; color: lightgrey; height: 500px; width: 300px; border: 2px solid white; }

.info { height: 100%; }

#landing { min-height: inherit; height: 100vh; background-color: #f2f2f2; }

#footer { margin: 0 auto; height: 50px; width: 100%; background-color: whitesmoke; z-index: 1; padding: 10px; text-align: right; border-top: 2px #45c4d3 dashed; }

#latest-info { background-color: #f2f2f2; }

#welcome-box { margin-left: 80px; background-color: #45c4d3; color: whitesmoke; padding: 50px; position: relative; min-height: 300px; }
@media (max-width: 768px) { #welcome-box { margin-left: 20px; margin-right: 20px; } }

#event-box { margin-right: 80px; background-color: white; color: #45c4d3; padding: 50px; position: relative; min-height: 300px; }
@media (max-width: 768px) { #event-box { margin-left: 20px; margin-right: 20px; } }

#mailing-box { border: 2px #45c4d3 solid; margin: 0 auto; margin-bottom: 100px; margin-left: 65px; margin-right: 65px; min-height: 50px; margin-top: 100px; text-align: center; color: #45c4d3; background-color: white; padding: 30px; }

#mailing-input { font-family: "raleway", sans-serif; border: none; border-bottom: 3px #45c4d3 solid; min-width: 100px; height: 45px; width: 40%; margin: 0 auto; font-size: 16px; background: transparent; color: white; }
@media (max-width: 768px) { #mailing-input { font-size: 12px; } }

#mailing-btn { font-family: "raleway", sans-serif; width: 100px; height: 45px; background-color: #45c4d3; font-size: 16px; font-weight: 200; color: white; border: none; margin-left: 20px; }
@media (max-width: 768px) { #mailing-btn { font-size: 12px; margin-left: 0; } }

.box-title { font-family: "Raleway", sans-serif; font-size: 20px; font-weight: 700; }

#latest-info .container .col-sm-6 { padding: 0; }

/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */
/* What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
html { color: #222; font-size: 1em; line-height: 1.4; }

/* Remove text-shadow in selection highlight: https://twitter.com/miketaylr/status/12228805301  These selection rule sets have to be separate. Customize the background color to match your design. */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ========================================================================== Browser Upgrade Prompt ========================================================================== */
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ========================================================================== Author's custom styles ========================================================================== */
/* ========================================================================== Helper classes ========================================================================== */
/* Hide visually and from screen readers */
.hidden { display: none !important; }

/* Hide only visually, but have it available for screen readers: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: https://www.drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screen readers, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix: contain floats  For modern browsers 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clearfix:after { clear: both; }

/* ========================================================================== EXAMPLE Media Queries for Responsive Design. These examples override the primary ('mobile first') styles. Modify as content requires. ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) { /* Style adjustments for high resolution devices */ }
/* ========================================================================== Print styles. Inlined to avoid the additional HTTP request: http://www.phpied.com/delay-loading-your-print-css/ ========================================================================== */
@media print { *, *:before, *:after, *:first-letter, *:first-line { background: transparent !important; color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
