{% extends "template.html" %}

{% block title %}
UTM MCSS
{% endblock title %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/mailing.js') }}"></script>
{% endblock extrajs %}

{% block content %}
	<section id="landing">

            <div class="container">
                <div id="title-container">
                    <div class="col-sm-12">
                        <img src="{{ url_for('static', filename='images/uoftlogo.png') }}" id="uoft-logo">
                        <div id="title">
                            <img src="{{ url_for('static', filename='images/mcss.png') }}" id="title-logo">
                            <p id="subtitle">Mathematical and Computational Sciences Society</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="latest-info">
            <div class="container">
                <div class="col-sm-6">
                    <div id="welcome-box" class="rale-font">
                        <p class="box-title">Welcome to UTM MCSS</p>

                        <br/>
                        <p>
                            Welcome to the UTM MCSS Homepage.
                        </p>
                        <p>Here you will find information on various events we host during the school year, information
                        on the team and frequent new updates on what's going on within the MCS department!</p>
                        <p>Make sure to follow us on social media and if you have any concerns regarding MCSS events
                        or other miscellaneous things, please send us a message!</p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="event-box">
                        <p class="box-title">Our latest events</p>
                        <a class="twitter-timeline" data-height="500" href="https://twitter.com/utmmcss">
                            Tweets by utmmcss</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-sm-12">
                    <div id="mailing-box">
                        <i class="fa fa-envelope-o fa-4x" style="margin-bottom: 10px;"aria-hidden="true"></i>
                        <p class="box-title">Join our mailing list</p>
                        <p class="rale-font">Keep up to date with news and various events we host over the school year!</p>
                        <br/>
                        <form id="mailing-list" method="post" action="{{ url_for('submit') }}">
				    <input id="mailing-input" class="mailing-input" placeholder="Email Address" type="text" name="email"/>			    <br />
				    <label for="maling-check">Are you interested in being a volunteer?</label>&nbsp;&nbsp;<input id="mailing-check" type="checkbox" />
				    <br />
				    <div id="mailing-volunteerdiv" style="display:none;">
					    <input id="mailing-firstname" class="mailing-input" style="width:auto;" placeholder="First Name" type="text" name="firstname"/><input id-"mailing-lastname" class="mailing-input" style="width:auto;" placeholder="Last Name" type="text" name="lastname"/>
					    <br /><br />
				    </div>
				    <input id="mailing-btn" class="mailing-btn" type="submit" value="Subscribe" />
                        </form>
                    </div>

                </div>
            </div>
        </section>
{% endblock content %}
