<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>UTM MCSS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.6.3/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sass/main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
        <title>
        {% block title %}
        {% endblock title %}
         </title>
    </head>
    <body>
        <div>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                            <div id="notification-bar">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {%  endwith %}
        </div>

        <div id="background"></div>
        <div id="mask"></div>
        <section id="navigation">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='images/mcss.png') }}" id="nav-logo"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse rale-font">
                        <ul class="nav navbar-nav pull-right">
                        <li class="nav-btn about"><a href="{{ url_for('about') }}">About</a></li>
                        <!--<li class="nav-btn about"><a href="{{ url_for('events') }}">Events</a></li>
                        <li class="nav-btn"><a href="{{ url_for('new') }}">News</a></li>-->
                        <li class="nav-btn"><a href="http://forums.utmmcss.com">Forum</a></li>
                        <li class="nav-btn"><a href="{{ url_for('contact') }}">Contact</a></li>
                        </ul>
                    </div><!--/.navbar-collapse -->
                </div>
            </nav>
        </section>

        <section id="landing">

            <div class="container">
                <div id="title-container">
                    <div class="col-sm-12">
                        <img src="{{ url_for('static', filename='images/uoftlogo.png') }}" id="uoft-logo">
                        <div id="title">
                            <img src="{{ url_for('static', filename='images/mcss.png') }}" id="title-logo">
                            <p id="subtitle">Mathematical and Computational Sciences Society</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="latest-info">
            <div class="container">
                <div class="col-sm-6">
                    <div id="welcome-box" class="rale-font">
                        <p class="box-title">Welcome to UTM MCSS</p>

                        <br/>
                        <p>
                            Welcome to the UTM MCSS Homepage.
                        </p>
                        <p>Here you will find information on various events we host during the school year, information
                        on the team and frequent new updates on what's going on within the MCS department!</p>
                        <p>Make sure to follow us on social media and if you have any concerns regarding MCSS events
                        or other miscellaneous things, please send us a message!</p>
                        <!-- PUT INFO HERE-->
                    </div>
                </div>
                <div class="col-sm-6">
                    <div id="event-box">
                        <p class="box-title">Our latest events</p>
                        <a class="twitter-timeline" data-height="500" href="https://twitter.com/utmmcss">
                            Tweets by utmmcss</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="col-sm-12">
                    <div id="mailing-box">
                        <i class="fa fa-envelope-o fa-4x" style="margin-bottom: 10px;"aria-hidden="true"></i>
                        <p class="box-title">Join our mailing list</p>
                        <p class="rale-font">Keep up to date with news and various events we host over the school year!</p>
                        <br/>
                        <form id="mailing-list" method="post" action="{{ url_for('submit') }}">
                            <input id="mailing-input" placeholder="Email Address" type="text" name="email"><input id="mailing-btn" type="submit" value="Subscribe">
                        </form>
                    </div>

                </div>
            </div>
        </section>




        <section id="bottom">
            <div id="footer">
                <div class="container">
                    <div class="col-sm-12 rale-font" style="font-size: 12px;">
                        MADE WITH BLOOD, SWEAT AND TEARS BY
                        <img src="{{ url_for('static', filename='images/mcss.png') }}" id="nav-logo-end"><br/>
                        © 2017 All rights reserved.
                    </div>
                </div>
            </div>
        </section>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script type="text/javascript">
            $(window).scroll(function() {
                if($(this).scrollTop() > 200) {
                    $('.navbar.navbar-inverse.navbar-fixed-top').addClass('opaque');
                } else {
                    $('.navbar.navbar-inverse.navbar-fixed-top').removeClass('opaque');
                }
            });
        </script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        {% block extrajs %}
        {% endblock extrajs %}
    </body>
</html>
